<!DOCTYPE html>
<html>
    <head>
        {{ template "partials/head" .}}
        <script src="/edit.js"></script>
    </head>
    <body class="dark:bg-gray-700 dark:text-gray-100">
        {{ template "partials/sidebar" .}}
        <div class="p-4 sm:ml-64">
            {{range .files}}
                <div>
                    <p>{{.Path}} Düzenle</p>
                    <pre><code contenteditable id="{{.Path}}" class="language-html">{{.Content}}</code></pre>
                    <input type="hidden" id="Path" name="Path" value="{{.Path}}">
                    <button onclick="EditPage('{{.Path}}')">Düzenle</button>
                </div>
            {{end}}      
        </div>
    </body>
    
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    });
    </script>
</html>