<!DOCTYPE html>
<html>
    <head>
        {{ template "partials/head" .}}
    </head>
    <body class="dark:bg-gray-700 dark:text-gray-100">
       {{ template "partials/sidebar" .}}
       <div class="p-4 sm:ml-64">
            <h3 class="text-lg">Ürün oluştur</h3>
            <form action="/create/product" method="post" enctype="multipart/form-data">
                <div>
                  <input placeholder="Ürün adı" class="mb-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="Name" name="Name">
                </div>
                <div>

                  <textarea class="mb-3 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="Description" name="Description"></textarea>
                </div>
                <div>
                  <input placeholder="fiyat" class="mb-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="number" id="Price" name="Price">
                </div>
                <div>
                  <input placeholder="Etiketler" class="mb-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="Tags" name="Tags">
                </div>
                <div>
                  <input class="mb-3 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400" type="file" id="Files" name="files" multiple>
                </div>
                <div>
                  <input class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit" value="Submit">
                </div>
              </form>
   

    <h3 class="text-2xl mt-5 mb-5">Bloglar</h3>
        
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 dark:bg-gray-800">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:bg-gray-900 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Ürün fotoğrafı
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Ürün adı
                    </th scope="col" class="px-6 py-3">
                    <th scope="col" class="px-6 py-3">
                        Ürün fiyatı
                    </th scope="col" class="px-6 py-3">
                    <th scope="col" class="px-6 py-3">
                        Sil
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Düzenle
                    </th>
                </tr>
            </thead>
            <tbody>
                {{range .Products}}
                    <tr>
                        <td class="px-6 py-4">
                            <img src="{{.ImagePath}}" class="w-[50px] h-[50px]">
                        </td>
                        <td class="px-6 py-4">
                            {{.Name}}
                        </td>
                        <td class="px-6 py-4">
                            {{.Price}}
                        </td>
                        <td class="px-6 py-4">
                            <button onclick="deleteProduct('{{.Token}}')">Sil</button>
                        </td>
                        <td class="px-6 py-4">
                            <a href="/edit/product/{{.Token}}">Düzenle</a>
                        </td>
                    </tr>
                {{end}}    
            </tbody>
        </table> 
        <div style="display:none" id="nf" class="height-[150px] w-full">
            <h2 class="text-5xl text-bold mt-5 mb-5 text-center">Ürün Bulunamadı</h2>
        </div>    
</div>
<div id="pages" class="mt-5 mb-5 inline-flex gap-1 rounded-md shadow-sm" role="group">
    
</div>

  
</div>
<script>
    let product = Number("{{.ProductCount}}");
    if(product < 1){
        document.getElementById("nf").style["display"] = "block";
    } else {
    for (var i = 0; i <= product; i++) {
            let page = 0; 
            if (i % 10 === 0) {
                pageCount =  Math.floor((i / 10) + 1);
                page =  Math.floor(i / 10);
                document.getElementById("pages").innerHTML += `
                <button onclick="window.location.href = '/admin/products/${page}'" type="button" class="rounded-md dark:bg-gray-800 px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-800 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                        ${pageCount}
                </button>`
            }
        }
    }
</script>
</body>
</html>