<!DOCTYPE html>
<html>
    <head>
        {{ template "partials/head" .}}
    </head>
    <body class="dark:bg-gray-700 dark:text-gray-100">
        {{template "partials/sidebar"}}
        <div class="p-4 sm:ml-64">
         <h3 class="text-2xl mt-5 mb-5">Kullanıcılar</h3>
                     
         <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
             <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 dark:bg-gray-800">
                 <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:bg-gray-900 dark:text-gray-400">
                     <tr>
                         <th scope="col" class="px-6 py-3">
                             Kullanıcı adı
                         </th>
                         <th scope="col" class="px-6 py-3">
                             Email
                         </th>
                         <th scope="col" class="px-6 py-3">
                            Yetki
                         </th>
                         <th scope="col" class="px-6 py-3">
                             Düzenle
                         </th>
                         <th scope="col" class="px-6 py-3">
                             Yasakla
                         </th>
                         <th scope="col" class="px-6 py-3">
                             Sil
                         </th>
                     </tr>
                 </thead>
                 <tbody>
                     {{range .Users}}
                     <tr>
                         <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                             {{.Username}}
                         </th>
                         <td class="px-6 py-4">
                             {{.Email}}
                         </td>
                         <td class="px-6 py-4">
                            {{.Perm}}
                        </td>
                         <td class="px-6 py-4">
                            <a href="/edit/user/{{.Token}}">Düzenle</a>
                         </td>
                         <td class="px-6 py-4">
                             <form>
                                 <input type="submit" value="Yasakla">
                             </form>
                         </td>
                         <td class="px-6 py-4">
                            <form method="POST" action="/delete/user/{{.Token}}">
                                <input type="submit" value="Sil">
                            </form>
                         </td>
                     </tr>
                     {{end}}
                 </tbody>
                </table>
         </div>
         <div id="pages" class="mt-5 mb-5 inline-flex gap-1 rounded-md shadow-sm" role="group">
    
         </div>
         </div>
         
         <script>
            let User = Number("{{.UserCount}}");
        
            for (var i = 0; i <= User; i++) {
                let page = 0; 
                if (i % 10 === 0) {
                    pageCount = (i / 10) + 1;
                    page = i / 10;
                    document.getElementById("pages").innerHTML += `
                    <button onclick="window.location.href = '/admin/users/${page}'" type="button" class="rounded-md dark:bg-gray-800 px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-800 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white">
                            ${pageCount}
                    </button>`
                }
            }
        </script>
    </body>
</html>